


<div class="col-lg-12">
    <div class="sidebar-item search">
        <form id="search_form" method="get" asp-action="Index" asp-controller="Blog">
            <input type="text" name="name" class="searchText" placeholder="Ara..." autocomplete="on">
      
        </form>
    </div>
</div>
