
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home"><h2>Mehmet<em>.</em>Com</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "active" : "")" asp-action="Index" asp-controller="Home">
                            Anasayfa
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "Blog" ? "active" : "")">
                        <a class="nav-link" asp-action="Index" asp-controller="Blog" asp-route-id=null>Bloglar</a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "About" ? "active" : "")">
                        <a class="nav-link" asp-action="Index" asp-controller="About">Hakkımda</a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "Contact" ? "active" : "")">
                        <a class="nav-link" asp-action="Index" asp-controller="Contact">İletişim</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

